@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'libs/header';
@import 'libs/footer';
@import 'libs/fontello';
@import 'libs/normalize';

body {
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  font-style: normal;
}

ul li,
ol li {
  margin: 0;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.clearfix {
  &:after {
    content: ' ';
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }
}

input {
  -webkit-appearance: none;
  appearance: none;
}

a {
  cursor: pointer;
}

.container {
  z-index: 4;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 120px;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 140px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0 160px;
  }
}

@media (min-width: 1800px) {
  .container {
    padding: 0 200px;
  }
}
