<footer class="footer" id="footer">
  <div class="footer_content">
    <a href="index.html" class="logo"><img src="img/logo.svg" alt="" /></a>
    <div class="addres">
      <h5>Адрес:</h5>
      <p>Ставрапольский край, Шпаковский район, х. Демино, ул. Советская 60а</p>
      <a href="javascript:void(0)">Политика конфиденциальности</a>
    </div>
    <div class="cont">
      <h5>Контакты:</h5>
      <ul>
        <li>
          <a href="tel:+8(8652)23-90-33"><i class="icon-tel"></i> Тел. +8 (8652) 23-90-33</a>
        </li>
        <li>
          <a href="mail:Info@gk-stroygrad.ru"><i class="icon-mail"></i> Info@gk-stroygrad.ru</a>
        </li>
      </ul>
    </div>
    <div class="watch">
      <h5>Часы работы:</h5>
      <ul>
        <li>Будни 9:00 - 18:00</li>
        <li>Вс - выходной</li>
      </ul>
    </div>
    <div class="social">
      <h5>Связаться с нами:</h5>
      <ul>
        <li>
          <a href="javascript:void(0)"><img src="img/telegram_footer.svg" alt="" /></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img src="img/whatsapp_footer.svg" alt="" /></a>
        </li>
      </ul>
    </div>
    <div class="sales">
      <h5>Вы так же можете связаться с отделом продаж</h5>
      <a class="link_js coll" href="#contact"><i class="icon-phone-call"></i> Заказать звонок</a>
      <a class="polit" href="javascript:void(0)">Политика конфиденциальности</a>
    </div>
  </div>
  <div class="footer_bottom">
    <p>
      © Все права защищены <br class="br-mob" />
      “ КП Владимировка “ 2021
    </p>
    <div class="developer">
      Сайт разработан: <a href="javascript:void(0)"><img src="img/MMP.png" alt="" /> MMP Group</a>
    </div>
  </div>
</footer>
