<div class="popup house_layouts">
  <span class="close"></span>
  <div class="popup_content">
    <span class="close_popup"><i class="icon-close-popup"></i></span>
    <div class="house_layouts_content">
      <h2>Название модели дома или описание дома</h2>
      <p>
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI Lorem Ipsum - это текст-"рыба", часто
        используемый в печати и вэб-дизайне.
      </p>
      <div class="houses_layouts_slider">
        <div>
          <div class="img" style="background: url('img/houses-img1.jpg') no-repeat 50% 50%; background-size: cover"></div>
          <div class="img" style="background: url('img/houses-img1.jpg') no-repeat 50% 50%; background-size: cover"></div>
        </div>
        <div>
          <div class="img" style="background: url('img/houses-img2.jpg') no-repeat 50% 50%; background-size: cover"></div>
          <div class="img" style="background: url('img/houses-img2.jpg') no-repeat 50% 50%; background-size: cover"></div>
        </div>
        <div>
          <div class="img" style="background: url('img/houses-img3.jpg') no-repeat 50% 50%; background-size: cover"></div>
          <div class="img" style="background: url('img/houses-img3.jpg') no-repeat 50% 50%; background-size: cover"></div>
        </div>
      </div>
      <span class="houses_layouts_count">
        <span></span>
      </span>
      <p>
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI Lorem Ipsum - это текст-"рыба", часто
        используемый в печати и вэб-дизайне.
      </p>
      <div class="popup_layouts_slider">
        <div>
          <img src="img/layouts-slider-img3.jpg" />
        </div>
        <div>
          <img src="img/layouts-slider-img3.jpg" />
        </div>
        <div>
          <img src="img/layouts-slider-img3.jpg" />
        </div>
      </div>
      <span class="popup_layouts_count">
        <span></span>
      </span>
      <a href="javascript:void(0)">Скачать pdf файл планировок дома <i class="icon-pdf"></i></a>
    </div>
  </div>
</div>

<!-- calculation_js -->
<div class="popup calculation">
  <span class="close"></span>
  <div class="popup_content">
    <span class="close_popup"><i class="icon-close-popup"></i></span>
    <div class="calculation_content">
      <h2>Получите расчет по материнскому капиталу</h2>
      <form>
        <div class="inputs">
          <div class="input">
            <input type="text" placeholder="Введите имя" />
          </div>
          <div class="input">
            <input type="text" placeholder="Введите телефон" />
          </div>
        </div>
        <label class="checkbox"><input type="checkbox" checked />Я согласен (а) с условиями политики конфиденциальности и разрешаю обработку мои персональные данные.</label>
        <button>Получить расчет</button>
      </form>
    </div>
  </div>
</div>

<div class="popup calculation">
  <span class="close"></span>
  <div class="popup_content">
    <span class="close_popup"><i class="icon-close-popup"></i></span>
    <div class="calculation_content">
      <h2>Получите расчет по материнскому капиталу</h2>
      <form>
        <div class="inputs">
          <div class="input">
            <input type="text" placeholder="Введите имя" />
          </div>
          <div class="input">
            <input type="text" placeholder="Введите телефон" />
          </div>
        </div>
        <label class="checkbox"><input type="checkbox" checked />Я согласен (а) с условиями политики конфиденциальности и разрешаю обработку мои персональные данные.</label>
        <button>Получить расчет</button>
      </form>
    </div>
  </div>
</div>

<div class="popup installment">
  <span class="close"></span>
  <div class="popup_content">
    <span class="close_popup"><i class="icon-close-popup"></i></span>
    <div class="installment_content">
      <h2>Получите расчет ежемесячного платежа по рассрочке</h2>
      <form>
        <div class="inputs">
          <div class="input">
            <select name="" id="">
              <option>Первоначальный взнос</option>
              <option>Первоначальный взнос</option>
              <option>Первоначальный взнос</option>
            </select>
          </div>
          <div class="input">
            <select name="" id="">
              <option>На срок</option>
              <option>1 мес</option>
              <option>6 мес</option>
              <option>12 мес</option>
            </select>
          </div>
          <div class="input">
            <input type="text" placeholder="Введите имя" />
          </div>
          <div class="input">
            <input type="text" placeholder="Введите телефон" />
          </div>
        </div>
        <label class="checkbox"><input type="checkbox" checked />Я согласен (а) с условиями политики конфиденциальности и разрешаю обработку мои персональные данные.</label>
        <button>Получить расчет</button>
      </form>
    </div>
  </div>
</div>

<div class="popup mortgage">
  <span class="close"></span>
  <div class="popup_content">
    <span class="close_popup"><i class="icon-close-popup"></i></span>
    <div class="mortgage_content">
      <h2>Получите расчет ежемесячного платежа по ипотеке</h2>
      <div class="our_mortgage_slider">
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo1.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo2.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo1.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo3.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo4.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo1.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo2.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo1.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo3.png" alt="" />
          </div>
        </div>
        <div>
          <div class="our_partners_logo">
            <img src="img/our-partners-logo4.png" alt="" />
          </div>
        </div>
      </div>
      <span class="our_mortgage_count">
        <span></span>
      </span>
      <form>
        <div class="inputs">
          <div class="input">
            <select name="" id="">
              <option>Первоначальный взнос</option>
              <option>Первоначальный взнос</option>
              <option>Первоначальный взнос</option>
            </select>
          </div>
          <div class="input">
            <select name="" id="">
              <option>На срок</option>
              <option>1 мес</option>
              <option>6 мес</option>
              <option>12 мес</option>
            </select>
          </div>
          <div class="input">
            <input type="text" placeholder="Введите имя" />
          </div>
          <div class="input">
            <input type="text" placeholder="Введите телефон" />
          </div>
        </div>
        <label class="checkbox"><input type="checkbox" checked />Я согласен (а) с условиями политики конфиденциальности и разрешаю обработку мои персональные данные.</label>
        <button>Получить расчет</button>
      </form>
    </div>
  </div>
</div>

<!-- video_js -->
<div class="popup video">
  <span class="close"></span>
  <div class="popup_content">
    <span class="close_popup"><i class="icon-close-popup"></i></span>
    <div class="video_content">
      <h2>Название описание видео</h2>
      <div class="video-wrapper">
        <span class="play"><i class="icon-play"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="menu_mobile">
  <div class="menu_mobile_content">
    <nav>
      <ul>
        <li class="active">
          <a href="#about"><span>О</span> поселке</a>
        </li>
        <li>
          <a href="#infrastructure"><span>И</span>нфраструктура</a>
        </li>
        <li>
          <a href="#henplan"><span>Г</span>енплан</a>
        </li>
        <li>
          <a href="#layouts"><span>Д</span>ома</a>
        </li>
        <li>
          <a href="#gallery"><span>Ф</span>ото</a>
        </li>
        <li>
          <a href="#footer"><span>К</span>онтакты</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+8 (8652) 23-90-33" class="tel">Тел. +8 (8652) 23-90-33</a>
    <ul class="social">
      <li>
        <a target="_blank" href="javascript:void(0)"><i class="icon-instagram"></i></a>
      </li>
      <li>
        <a target="_blank" href="javascript:void(0)"><i class="icon-youtube"></i></a>
      </li>
    </ul>
  </div>
</div>

<header class="header">
  <div class="header_content">
    <a href="index.html" class="logo"><img src="img/logo.svg" alt="" /></a>
    <nav>
      <ul>
        <li class="active">
          <a href="#about"><span>О</span> поселке</a>
        </li>
        <li>
          <a href="#infrastructure"><span>И</span>нфраструктура</a>
        </li>
        <li>
          <a href="#henplan"><span>Г</span>енплан</a>
        </li>
        <li>
          <a href="#layouts"><span>Д</span>ома</a>
        </li>
        <li>
          <a href="#gallery"><span>Ф</span>ото</a>
        </li>
      </ul>
    </nav>
    <div class="header_contact">
      <a class="link" href="#footer"><span>К</span>онтакты</a>
      <ul class="social">
        <li>
          <a target="_blank" href="javascript:void(0)"><i class="icon-instagram"></i></a>
        </li>
        <li>
          <a target="_blank" href="javascript:void(0)"><i class="icon-youtube"></i></a>
        </li>
      </ul>
      <a href="tel:+8 (8652) 23-90-33" class="tel">Тел. +8 (8652) 23-90-33</a>
      <a href="#contact" class="link_js request-call"><i class="icon-phone-call"></i> <span>Заказать звонок</span></a>
      <span class="cloze-menu">
        <span></span>
      </span>
    </div>
  </div>
</header>
